* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    color:#333;
    background: #fff;
    font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:0.94em;
    line-height:135%;

}

aside, nav, footer, header, section { display: block; }

ul {
    list-style:none;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}

/* -------------------------------
Главные блоки
----------------------------------*/

#wrapper {
    margin-top:40px;
    width: 1200px;
    margin: 0 auto;
    height: auto !important;
}

.header{
    width:100%;
    background: #66bb6a;
    height:57px;
    z-index: 4;
}

#headerInner {

    position:relative;
    border:0px solid #333;
    width:1200px;
    height:250px;
    margin:0 auto;
    margin-top:0px;
}
#content {
    margin-top:40px;
}

#content #colLeft {
    background: #fff;
    float:left;
    width:800px;
    margin-right:0px;
}

#content #colRight {
    margin-left:45px;
    float:left;
    width:350px;
    position:relative;
}

#middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

/* Верхнее правое меню */

.topMenuRight {
    height:57px;
    position:absolute;
    left:0px;
    top:0px;

}

.topMenuRight ul li {
    background:  0px 0px no-repeat;
    float:left;
    height: 57px;
}

.topMenuRight ul {
    padding-left:0px;
}

.topMenuRight ul li a{
    margin-top:0px;
    font-weight:100;
    border-right:0px solid #adadad;
    display:block;
    color:#fff;
    text-decoration:none;
    line-height:20px;
    font-size:18px;
    padding:10px 20px 21px 10px;
}

.topMenuRight ul li a:hover{
    background: #fff;
    color:#555;
}

#lpblock {
    background: #eee;
    position:relative;
    width: 1200px;
    height:40px;
    margin:0 auto;
    margin-top:20px;
}

#lpblock h2 {
    text-align: left;
    font-family: "Segoe UI Semilight";
    color:#777;
    font-weight:100;
    padding-top:10px;
    padding-left: 20px;
    font-size:2em;
}

