.pageselector {
    text-align: center;
    padding: 10px 0;
}

a.page-btn:hover {
    background: #519454 repeat-x 0 50%;
}

a.page-btn {
    -webkit-transition: background 0.5s ease;
    padding: 7px 12px;
    font: bold 11px/13px "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fefefe;
    border: none;
    background: #66bb6a repeat-x 0 50%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}